<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>La chaine du pilote JDBC utilisé pour se connecter à la BD PhpMyAdmin.</description>
        <param-name>jdbcDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <description>L'URL de la BD pour les connexions JDBC.</description>
        <param-name>databaseURL</param-name>
        <param-value>jdbc:mysql://localhost/livre?user=root&amp;password=root</param-value>
    </context-param>
    <servlet>
        <servlet-name>controleur</servlet-name>
        <servlet-class>com.projet.servlet.ControleurFrontal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>connexion</servlet-name>
        <servlet-class>com.projet.servlet.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deconnexion</servlet-name>
        <servlet-class>com.projet.servlet.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consulterLivre</servlet-name>
        <servlet-class>com.projet.servlet.consulterLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>evaluerLivre</servlet-name>
        <servlet-class>com.projet.servlet.evaluerLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>afficherListeLivres</servlet-name>
        <servlet-class>com.projet.servlet.afficherListeLivres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>afficherLivre</servlet-name>
        <servlet-class>com.projet.servlet.afficherLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>confirmationEvaluationLivre</servlet-name>
        <servlet-class>com.projet.servlet.confirmationEvaluationLivre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consulterListeCours</servlet-name>
        <servlet-class>com.projet.servlet.consulterListeCours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rechercherCours</servlet-name>
        <servlet-class>com.projet.servlet.rechercherCours</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rechercherLivre</servlet-name>
        <servlet-class>com.projet.servlet.rechercherLivre</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controleur</servlet-name>
        <url-pattern>/controleurFrontal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connexion</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deconnexion</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consulterLivre</servlet-name>
        <url-pattern>/consulterLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>evaluerLivre</servlet-name>
        <url-pattern>/evaluerLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>afficherLivre</servlet-name>
        <url-pattern>/afficherLivre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>afficherListeLivres</servlet-name>
        <url-pattern>/afficherListeLivres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>confirmationEvaluationLivre</servlet-name>
        <url-pattern>/evaluerLivreCours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consulterListeCours</servlet-name>
        <url-pattern>/consulterListeCours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rechercherCours</servlet-name>
        <url-pattern>/rechercherCours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rechercherLivre</servlet-name>
        <url-pattern>/rechercherLivre</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
